:root {
  --main-red: #b71e3f;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e5e9;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
  --webkit-appearance: none;
}

input:focus,
button:focus {
  outline: 2px solid var(--main-red);
}

.container,
.wrapper {
  max-width: 1215px;
  margin: 0 auto;
  padding: 50px 50px;
}

.navwrapper {
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 50px;
}

hr {
  padding: 0;
  margin: 0;
}

.topbar {
  margin: 0 auto;
  height: 141px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.topbar__url {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.topbar__logo {
  flex: 2.4;
  margin-right: 30px;
  height: 100px;
  width: 190px;
  background-image: url("./assets/images/logo.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.topbar__middle {
  flex: 7;
  height: 100%;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  align-content: center;
}

.topbar__middle-item {
  width: 50%;
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.topbar__registration {
  max-width: 180px;
}

.topbar__align-right {
  width: 100%;
  text-align: right;
}

.topbar__number {
  min-width: 188px;
  font-size: 1.18571rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--main-red);
}

.topbar__icon {
  height: 1.28571rem;
  width: 1.28571rem;
  padding-right: 5px;
  fill: var(--main-red);
  transform: translate(0, 4px);
}

.topbar__desc {
  line-height: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
}

.topbar__contrast {
  min-width: 200px;
  color: #6c6c77;
  font-size: 0.85rem;
}

.topbar__contrast-item {
  padding: 0.15rem 0.3rem;
  border: 1px solid #e5e5e9;
  border-radius: 100%;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.65rem;
  cursor: pointer;
}

.topbar__contrast-item_2 {
  background-color: #6c6c77;
  color: #fff;
  border-color: #6c6c77;
}

.topbar__contrast-item_3 {
  background-color: #6c6c77;
  color: #eae531;
  border-color: #6c6c77;
}

.topbar__fontsize {
  color: #6c6c77;
  text-transform: uppercase;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar__fontsize span {
  padding: 0 5px;
  cursor: pointer;
}

.topbar__fontsize_small {
  font-size: 0.8rem;
  padding-bottom: 0;
}

.topbar__fontsize_medium {
  font-size: 1.2rem;
}

.topbar__fontsize_big {
  font-size: 1.58rem;
}

.topbar__right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topbar__button {
  margin: 0 3px 0 10px;
  width: 45px;
  height: 45px;
  border: 1px solid #e5e5e9;
  background-color: white;
  border-radius: 5px;
  color: #e5e5e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar__button:hover {
  cursor: pointer;
}

.topbar__menu {
  display: none;
}

.topbar__links {
  height: 50px;
  width: 80px;
  flex-flow: wrap row;
  display: flex;
  align-content: space-around;
  justify-items: center;
  justify-content: center;
}

.topbar__links a {
  width: 50%;
}

.topbar__yt {
  width: 1.57143rem;
  fill: #e93f33;
}

.topbar__fb {
  width: 1.57143rem;
  fill: #4267b2;
}

.footer {
  font-weight: 400;
  font-size: 0.8rem;
}

.sidebar {
  max-width: 352px;
  margin-left: auto;
  background-color: var(--main-red);
  color: #fff;
  border-radius: 7px;
  z-index: 1100;
  box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.75);
  flex: 2;
  transform: translateY(-30px);
}

.sidebar__section {
  border-bottom: 1px solid rgba(229, 229, 233, 0.3);
  padding: 30px 0;
  margin: 0 45px;
  line-height: 1.7;
}

.sidebar__section_header {
  font-size: 1.2rem;
}

.sidebar__section_text {
  color: #fdfcfd;
  font-size: 0.75rem;
  font-weight: 200;
}

.main {
  display: flex;
  flex-flow: nowrap row;
}

main {
  margin-top: 25px;
}

.main__content {
  flex: 4;
  padding: 20px 20px 20px 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.nav-menu {
  height: 20px;
  transform: translateY(16px);
}

div.nav-menu ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
}

div.nav-menu li {
  line-height: 1.7;
}

div.nav-menu a {
  color: black;
  text-decoration: none;
  display: block;
}

div.nav-menu > ul > li > a {
  padding: 10px 0px;
}

div.nav-menu > ul > li:hover > a {
  text-decoration: underline;
}

/* Sub/Children Menu */
div.nav-menu .sub-menu,
div.nav-menu .children {
  display: none;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 1;
  padding: 20px;
  margin: 49px auto;
  border-radius: 7px;
  width: 100%;
  box-shadow: -1px 16px 37px -16px rgba(0, 0, 0, 0.75);
  background-color: var(--main-red);
  white-space: nowrap;
  grid-template-columns: repeat(3, 1fr);
}

.div.nav-menu .sub-menu:hover {
  text-decoration: underline;
}

div.nav-menu .sub-menu:before,
div.nav-menu .children:before {
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  top: -20px;
  width: 100%;
}

div.nav-menu li:hover > .sub-menu,
div.nav-menu li:hover > .children {
  display: grid;
}

div.nav-menu .sub-menu a,
div.nav-menu .children a {
  padding: 10px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 10px;
  width: 70%;
  color: white;
}

div.nav-menu .sub-menu a:hover,
div.nav-menu .children a:hover {
  text-decoration: underline;
}

/* Grandchildren Menu */
div.nav-menu .sub-menu .sub-menu,
div.nav-menu .children .children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: #f5f5f5;
}

.blog-post {
  /* margin-top: 25px; */
  position: relative;
}

.pagebanner {
  margin-top: 61px;
  height: 230px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  z-index: -1100;
  background-image: url(./assets/images/doctors.jpeg);
  background-position: center;
}

.pagebanner__container {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagebanner div div {
  width: 100%;
  font-size: 2.5rem;
  color: white;
}

.sidebar {
  width: 352px;
  margin-left: auto;
  background-color: var(--main-red);
  color: #fff;
  border-radius: 7px;
  z-index: -1100;
  box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.75);
  flex: 1;
  transform: translateY(-85px);
  position: relative;
}

.sidebar__section {
  border-bottom: 1px solid rgba(229, 229, 233, 0.3);
  padding: 30px 0;
  margin: 0 45px;
  line-height: 1.7;
}

.sidebar__section_header {
  font-size: 1.2rem;
}

.sidebar__section_text {
  color: #fdfcfd;
  font-size: 0.75rem;
  font-weight: 200;
}

.wrapper__main {
  padding-top: 20px;
  padding-bottom: 0;
  line-height: 1.5;
  display: flex;
  flex-flow: nowrap row;
  align-items: flex-start;
}

.wrapper__body {
  flex: 6;
  margin: 0 10px 0 0;
  padding-right: 15px;
}

.wrapper__text {
  flex: 3;
}

.has-huge-font-size,
.has-large-font-size,
.has-medium-font-size {
  color: #b7313f;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection {
  background-color: #b7313f;
  color: white;
}

.mobilenav__overflow {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mobilenav {
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  overflow-x: hidden;
  z-index: 10000;
}

/* toggle menu */
.mobilenav_open {
  display: block;
}

@keyframes showMenu {
  0.0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(0%);
  }
}

.mobilenav__menu {
  height: 100vh;
  max-width: 400px;
  margin-left: auto;
  overflow: auto;
  background-color: white;
  padding-bottom: 40px;
  animation: showMenu 500ms ease-in 0s 1 normal none;
}

.mobilenav__top {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.mobilenav__logo {
  background-image: url("./assets/images/logo.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 100px;
  width: 190px;
}

/* mobile menu */
div.nav-mobile {
  width: 100%;
  padding: 25px 0 0 25px;
  margin: 0;
}

div.nav-mobile ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-flow: nowrap column;
  font-weight: 700;
}

div.nav-mobile li {
  line-height: 1.7;
}

div.nav-mobile a {
  color: #454545;
  text-decoration: none;
  display: block;
}

div.nav-mobile > ul > li {
  float: left;
}

div.nav-mobile > ul > li > a {
  padding: 10px 10px;
}

/* Sub/Children Menu */
div.nav-mobile .sub-menu,
div.nav-mobile .children {
  width: 100%;
  padding: 0 20px;
}

div.nav-mobile .sub-menu a,
div.nav-mobile .children a {
  padding: 5px 10px;
  color: #454545;
  font-weight: 300;
}

/* Grandchildren Menu */
div.nav-mobile .sub-menu .sub-menu,
div.nav-mobile .children .children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: #f5f5f5;
}

.searchbar {
  height: 20px;
  display: none;
  justify-content: center;
  padding: 29px 0 1px 0;
}

.searchbar_open {
  display: flex;
}

.search__input {
  padding: 10px;
  min-width: 400px;
  margin-right: 30px;
  outline: none;
  border: none;
  border: 1px solid #e5e5e9;
  border-radius: 7px;
  /* border-bottom: 1px solid var(--main-red); */
  --webkit-appearance: none;
}

.search__input::placeholder {
  color: #e5e5e9;
}

.search__input:focus {
  border: 1px solid var(--main-red);
  outline: none;
  --webkit-appearance: none;
}

.search__submit::placeholder {
  padding-left: 10px;
}

.search__submit {
  border: none;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  background-color: var(--main-red);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.7rem;
}

.post {
  margin-top: 28px;
}

/* post content */
.post p {
  padding: 2px 0;
}

.post__link {
  text-decoration: none;
  color: black;
  font-weight: 400;
  line-height: 2;
}

.post__more {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
  display: block;
}

.screen-reader-text {
  display: none;
}

.nav-links {
  margin-top: 42.5px;
}

.search .searchbar {
  display: flex;
}

.noresult {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .topbar__middle {
    flex-wrap: wrap;
  }

  .topbar__fontsize {
    display: flex;
    justify-content: right;
    align-content: center;
  }

  .topbar__middle {
    max-width: 500px;
    padding-right: 60px;
  }

  .topbar__middle-item {
    padding: 3px 0;
    width: 34%;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 992px) {
  .topbar__hr {
    display: none;
  }

  .topbar__middle,
  .topbar__links {
    display: none;
  }

  .topbar__menu {
    display: flex;
  }

  .navwrapper {
    display: none;
  }

  .pagebanner {
    margin-top: 0 !important;
  }

  .searchbar {
    padding: 40px 0 25px 0 !important;
    align-items: flex-end;
  }

  .container,
  .wrapper {
    max-width: 1215px;
    margin: 0 auto;
    padding: 20px 20px;
  }

  .sidebar {
    display: none;
  }

  .topbar {
    padding: 0 10px;
    height: 90px;
  }

  main {
    margin-top: 5px;
  }

  .topbar__logo {
    height: 85px;
  }

  .topbar__logo_main {
    background-size: 0 0;
    width: 0;
    height: 0;
  }

  .pagebanner {
    height: 120px;
  }

  .pagebanner__header {
    font-size: 1.3rem;
    text-align: center;
  }

  .search__input {
    width: 100px;
    --webkit-appearance: none;
  }
}

@media screen and (max-width: 992px) {
  .search__input {
    margin-right: 5px;
  }
}

@media screen and (max-width: 673px) {
  .search__input {
    min-width: 200px;
  }
}

/* home page */

/* new */

.homenews {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.homenews > div {
  box-shadow: 2px 0px 14px 3px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.homenews__featured {
  display: flex;
  flex-flow: row nowrap;
  height: 400px;
}

.homenews__featuredImg {
  width: 45%;
}

.homenews__content {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  padding: 20px;
  width: 55%;
}

.homenews__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top center;
}

.homenews__link {
  color: black;
  text-decoration: none;
}

.homenews__excerpt {
  font-size: 0.7rem;
}

.homenews__date {
  color: goldenrod;
  padding: 7px 0;
  font-size: 0.7rem;
}
