.wp-block {
  max-width: 800px;
}

.wp-block[data-align="wide"] {
  /* it can be "data-align=full" and also "right", "left" and "center" */
  max-width: 1228px;
}

.editor-post-title__block .editor-post-title__input {
  font-family: "Roboto Slab";
  font-size: 40px;
}

.wp-block.is-selected {
  background-color: #e0e0e0;
}
